<!DOCTYPE html>
<html>
<head>
<title>receita</title>

</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
box-sizing:box-border;

}
body{
margin:0;
}
.navbar{
	display:flex;
	height:100px;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
}
.logo{
	margin-left:10%;
	flex:20%;
	text-align:center;
}
.logo h1{
	font-family:fantasy;
	color:#180F4A;
	font-size:34px;
	text-shadow:1px 1px  1px #FF2978;
}
.menu{
	flex:70%;
	text-align:right;

}
.menu a{
	color:#180F4A;
	text-decoration:none;
	font-size:20px;
	padding:20px 16px;
}
.menu a:hover{
	color:#FF2978;
	margin-top:4px solid #180F4A;
}
#botao{
	background:#180F4A;
	padding:10px 25px;
	color:white;
	border-radius:5px;
	margin-right:10%;
}
#botao:hover{
	border:none;
	background:#FF2978;
}
#anos 80{
	display:inline;
	flex-flow:column wrap;
}
#80{
	display:inline-fex;
	justify-content:space-between;
}
img{
	width:300px;
	height:300px;
	align-items:center;
	border-radius:4px;
	align-items:center;
}
.header{
	display:flex;
	flex-flow:row wrap;
	height:600px;
}
.hedline{
	margin-left:10%;
	margin-right:10%;
	flex:80%;
}


h2{
	text-shadow:1px 1px 1px #FF2978;
}
footer{
	position:relative;
	padding:5px 5px black;
	background:pink;
	bottom:0px;
	padding:0%;
	color:white;
}
</style>
<body>
	<nav class="navbar">
		<div class="logo">
			<h1>ANOS 80 E 90</h1>
		</div>
		<div class="menu">
		<a href="#1">Anos 80</a>
		<a href="#2">Anos 90</a>
		<a id="botao"  href="#3">Sátira</a>
		
		</div>
		<header class="header">
			<div class="hedline">
	<h2>	<p>	<a name="1">Anos 80 </a></p></h2>
				<p> Os anos 80 foram tão importantes que desta vez marcou toda uma geração e teve um lugar no coração de todos os amantes da cultura pop. Esta é uma era de evolução onde tudo o que existia antes disso começou a mudar e moldar uma parte do que temos hoje. A importância dos anos 80
				Você era um cidadão ativo da cultura pop na época, crescendo vendo o country rock e o rock mundial fazerem história com bandas como Legião Urbana, AC-DC, Engenheiro Havaiano, Titãs, Metallica, Ira, Gun'S Roses e Paralamas do Sucesso... ele vê Para obras que mudaram toda a direção do filme, como De Volta para o Futuro, O Iluminado e Alien: Alien. E tendo jogado jogos clássicos como Mario, Pac-Man, Tetris, etc., você deve saber o que vamos dizer aqui, mas ainda parece um pouco nostálgico.
				
				Mas para quem não viu ou nunca se interessou tanto pelo assunto, aqui vai um pequeno resumo da importância dos anos 80 já citados acima.
				<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3UEFKCD8mmUeJsRTxV-0AZPIsyM2Ho7fGiw&usqp=CAU"></center>
			 <p> <b>  Cinema</b></p>
				O cinema foi provavelmente a indústria mais afetada daquele período e é a base do nosso cinema hoje. Neste ponto, o público está mais ativo no filme do que antes, então começa uma mudança. Uma nova geração é criada, então os filmes começam a ser moldados de acordo com suas preferências e gostos. Então podemos dizer que é aí que o filme começa a entender seu público-alvo.
				
				Foi durante esta década que o público começou a ter voz. Assim, os filmes mais rentáveis   são aqueles que fazem sucesso entre os adolescentes. Sabendo disso, foi criado um novo estilo, que mais tarde se tornou um gênero cinematográfico. Os filmes da época ficaram famosos e agora são clássicos, incluindo De Volta para o Futuro, E.T.: Alien, Caça-Fantasmas, Goblin, Robocop e muito mais. Outros, essas são inspirações para hoje.
				<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXqNGypEj4ar10hQ_WPCDOiFoSsKneqMu2gg&usqp=CAU"></center>
				<p><b> música</b></p>
				À medida que novos estilos foram criados e outros aprimorados, os anos 80 marcaram toda a indústria da música e moldaram parte da cultura que temos hoje. O hip-hop surgiu na mesma época, inspirado em músicas da década passada, como "Disco Music" e outras composições de batidas. Por sua vez, o rock era mais popular do que antes e se tornou muito famoso principalmente entre os jovens. Além disso, foi tão influente que criou grandes festivais. Ainda no Brasil, em meados dos anos 80, surgiu o maior festival de música da América Latina, o "Rock In Rio".
			<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnOMqV5xxTDg3jJCRrvgSwODevYeQPEbeidA&usqp=CAU"></center>
			<p> <b>	videogames </b></p>
				No início da década, o console mais notável era o Atari, que só chegou ao Brasil em 1983, mas já era bastante famoso no exterior. Possui uma grande variedade de jogos, com muitos exemplos extraordinários e nostálgicos de jogos até hoje, como Space Invaders, Pitfall e River Raid.
				 Mesmo sendo os primeiros no mercado por anos, outros marcas começaram a ganhar espaço, o Nintendo e a Sega são as mais destacadas, que nessa década, foram responsáveis pela criação de alguns dos jogos clássicos já existentes, como Super Mario Bros, Pac-Man, Tetris, Digger, The Legend Of Zelda, entre outros jogos da franquia.</p>
			<center>	<img src="https://s2.glbimg.com/YcCHog5TvmOqVINfUiSs9PR85fU=/1200x/smart/filters:cover():strip_icc()/s.glbimg.com/po/tt2/f/original/2016/02/26/river-raid-atari-2600-9.jpg"></center>
				<br>
				
			<br>
			<br>
			<h2><p><a name="2" >Anos 90</h2></a></p>
				Quando o assunto é nostalgia, não podemos deixar de mencionar os anos 90, época em que a internet invadiu nossas vidas aos poucos.
				As pessoas nascidas em 2000 podem não conseguir entender como seus pais resolveram problemas cotidianos sem um smartphone ou consultar um oráculo do Google.
				Então, onde você pode assistir aos trailers dos próximos filmes nos cinemas? Quem dá dicas de livros, jogos e quadrinhos? Talvez esses sejam alguns dos problemas da geração pós-YouTube.
				<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhsQnK2Q6E4ju4ThBqXLG2BhNRTe9x7GJZKw&usqp=CAU"></center>
				<p><b>Filmes dos anos 90</b></p>
				Os anos 90 foram uma época interessante quando se trata de filmes. Produziu algumas obras clássicas e marcantes que, se não ganharem um Oscar, pelo menos deixarão uma marca indelével na cultura pop.
				
				Forrest Gump, Jurassic Park, Ghost, Titanic e Pulp Fiction são apenas alguns nomes em uma lista enorme quando falamos de filmes.
				<center> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJCtFqQ01vMm04LuY19CRNbL1m-seAuB66HA&usqp=CAU"></center>
				 <p><b>musica dos anos 90</b></p>
				Quando se trata de música dos anos 90, a MTV vem à mente imediatamente. Surgiu oficialmente nos Estados Unidos em 1981 e foi um veículo importante para vários artistas. De Michael Jackson a Guns and Roses, muitos aproveitaram a versatilidade do formato de videoclipe.
				Dez anos depois, em 20 de outubro de 1990, desembarcou no Brasil. A partir daí, o resto é história. Se antes o sonho de qualquer banda de garagem era gravar um álbum, depois que surgiu a MTV, havia mais um sonho: gravar vídeo ao mesmo tempo.
				<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzwqRK7v3xYiuXtpuhRO1VavWKYCh2aKvFbw&usqp=CAU"></center>
				<p><b>Jogos dos anos 90</b></p>
				Em geral, os jogos são importantes na cultura pop porque seus personagens influenciam filmes, quadrinhos e uma série de outros produtos.
				O mundo dos videogames dos anos 90 foi marcado pela tecnologia de 16 bits. De um lado está a Sega com seu Mega Drive, e do outro está a Nintendo com seu ataque Super NES.</p>
		<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf0Ek0H4WtBIClezxXPLMi2VgX97TNrKGfrQ&usqp=CAU"></center>
		<h2>		<p> <b><a name="3"> Sátira Odisseia no Espaço</b></p></h2>
		O filme uma odisseia no espaço ,retrata sobre uma viagem intergaláctica que foi feita por Dave e Frank juntamente com HAL 9000 a mais nova inteligência artificial feita pela humanidade,juntos fazem uma viagem para Júpiter, para investigar se há forma de vida com inteligência em outros planetas.
		A Aurora do Homen:nesta cena do filme Kubrick mostra a chegada de um monólito a terra quando o homem era primitivo(macacos),e através desse monólito ele aprende como se impor contra a sua espécie na mesma sena esse macaco assassina a sua irmandade, nessa sena podemos notar como esse filme vem entrar em concordância com os dias atuais.
		Na sua segunda parte do filme Kubrick nos mostra os avanços tecnológicos e medicinais, porem não havia a humanidade como raça, e é nessa sena que o ser humano encontra o outro monolito,fazendo com que os mesmos sintam interesse em descobrir se existia vida em outros planetas formando então a missão Júpiter que mostra a historia de Dave e HAL (uma maquina),nesta parte do filme podemos notar a relação de maquina e homem, podemos também notar a mecanização do homem e a humanização da maquina, a maneira em que HAL e o seus membros morrem.
		Nos momentos finais do filme Dave esta em uma projeção de casa perto dos seres superiores(“extraterrestre”),temos a impressão de que Dave foi chamado a toa, mas não Dave foi convidado como objeto de estudo. Para salvar Dave e a sua raça os superiores fazem com que ele viva toda a sua vida ate que ele renasça como um ser superior e salve os humanos,nessa parte podemos notar que o autor quer tentar nos mostrar e criarmos uma opiniao de que os extraterrestres são superiores a nos seres humanos.
		<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4SF4obSz3rJrrgWQkxlPzVJKrxFK8PM8Btw&usqp=CAU"></center>
		</header>
		<br>
		<br>
		

</body>

</html>
